{% comment %} {% block sidebar %}

<style>
        .card{
            box-shadow: 0 16px 48px #E3E7EB;
        }
       
</style>

<!-- Sidebar Widgets Column -->
<div class="col-md-4 float-right custom-padding-top-2">
<div class="card my-4">
        <h5 class="card-header">Источники</h5>
    <div class="card-body">
        <p class="card-text"> Тут описаны источники, которые были использованы для созданяи платформы </p>
        <a href="https://docs.djangoproject.com/"
           class="btn btn-dark">Перейти</a>
    </div>
</div>
</div>

{% endblock sidebar %} {% endcomment %}